<!--
  Generated template for the PlayerTeamPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
  <div class="team-text">
 	 The garage of {{ playerTeam.teamName }}
 	</div>
  </ion-navbar>
</ion-header>

<ion-content>
	<div class="container margin-bottom">
	<!-- Info Panel -->
	<div>
    <ion-row>
    	<ion-col>
	      <ion-card class="relative-pos card-left card-height">
	     		<img class="bank-img" src="assets/img/bank-icon.png" />
	      	<div class="text-height">
	      		<span class="title-text">
	      			{{playerTeam.money | currency:'USD':true:'1.0'}}
	      		</span>
	      	</div>
	      </ion-card>
    	</ion-col>

    	<ion-col>
	      <ion-card class="relative-pos card-height">
	     		<img class="trades-img" src="assets/img/trade-icon-dark.png" />
	      	<div class="text-height">
	      		Trades: 
	      		<span class="title-text">
	      			{{playerTeam.trades }}
	      		</span>
	      	</div>
				</ion-card>
			</ion-col>
  	</ion-row>
	</div>

	<ion-row class="top-space-lg">
		<img class="car-bg" src="assets/img/team-car.png" />
		<div class="text-center positive-rel slideExpandUp delay-2">
			CAR ONE
		</div>
	</ion-row>
	<ion-row class="top-space">
		<!-- Driver: car one -->
		<ion-col width-33 class="pullUp delay-1">
			<ion-card class="hq-card card-1 empty-card" *ngIf="userDriverOneEmpty">
				<ion-card-header class="card-header">
					<div>Driver</div>
				</ion-card-header>
				<ion-row>
					<img class="driver-img driver-default" src="assets/img/driver-default.png" />
				</ion-row>
			</ion-card>

			<ion-card class="hq-card card-1" *ngIf="!userDriverOneEmpty">
				<ion-card-header class="card-header">
					<div>Driver</div>
				</ion-card-header>

				<div class="name">
					{{carOneDriver.firstName}}<br />
				 	{{carOneDriver.lastName}}
				</div>

				<ion-row> 
	        <img [src]="carOneDriver.driverImage" class="driver-img" (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" />
	        <ion-spinner name="crescent" [ngClass]="{'center-spinner car-one-spinner':true}" *ngIf="!loaded"></ion-spinner>
			  </ion-row>

			  <ion-row>
			  	<div class="points">{{ carOneDriver.driverPoints }}</div>
				</ion-row>

				<div class="value">
					{{ +carOneDriver.driverValue | currency:'USD':true:'1.0' }}
				</div>

				<h5 [ngClass]="{negative: carOneDriver.valChange < 0}" class="positive val-change"> 
					{{ carOneDriver.valChange | currency:'USD':true:'1.0' }}
				</h5>

				<ion-icon class="icon-car-1 hide-icon" [ngClass]="{'show-icon': carOneDriver.driverUpgrade === true}" name="star"></ion-icon>
			</ion-card>
		</ion-col>

		<!-- Chassis: car one -->
		<ion-col width-33 class="pullUp delay-2">
			<ion-card class="hq-card card-2 empty-card" *ngIf="userChassisOneEmpty">
				<ion-card-header class="card-header">
					<div>Chassis</div>
				</ion-card-header>
				<ion-row>
					<img class="chassis-img chassis-default" src="assets/img/chassis-default.png" />
				</ion-row>

			</ion-card>

			<ion-card class="hq-card card-2" *ngIf="!userChassisOneEmpty">
				<ion-card-header class="card-header">
					<div>Chassis</div>
				</ion-card-header>
				<div class="name">{{carOneChassis.chassisName}}</div>
				<ion-row>
					<img [src]="carOneChassis.chassisImage" class="chassis-img" (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" />
	    		<ion-spinner name="crescent" [ngClass]="{'center-spinner car-one-spinner':true}" *ngIf="!loaded"></ion-spinner>
				</ion-row>
				
				<ion-row>
					<div class="points">{{ carOneChassis.chassisPoints }}</div>
				</ion-row>

				<div class="value">
					{{ +carOneChassis.chassisValue | currency:'USD':true:'1.0' }}
				</div>
	  		
	  		<h5 [ngClass]="{negative: carOneChassis.valChange < 0}" class="positive val-change"> {{ carOneChassis.valChange | currency:'USD':true:'1.0' }}
				</h5>	
					
				<ion-icon class="icon-car-1 hide-icon" [ngClass]="{'show-icon': carOneChassis.chassisUpgrade === true}" name="star"></ion-icon>
			</ion-card>
		</ion-col>


		<!-- Pu: car one -->
		<ion-col width-33 class="pullUp delay-5">
			<ion-card class="hq-card card-3 empty-card" *ngIf="userPuOneEmpty">
				<ion-card-header class="card-header">
					<div>Power unit</div>
				</ion-card-header>
	
				<ion-row>
					<img class="pu-image pu-default" src="assets/img/pu-default.png" />	    		
				</ion-row>
			</ion-card>

			<ion-card class="hq-card card-3" *ngIf="!userPuOneEmpty">
				<ion-card-header class="card-header">
					<div>Power Unit</div>
				</ion-card-header>

				<div class="name">{{carOnePu.puName}}</div>
				<ion-row>
					<img [src]="carOnePu.puImage" class="pu-image" (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" />
            	
          <ion-spinner name="crescent" [ngClass]="{'center-spinner car-one-spinner':true}" *ngIf="!loaded"></ion-spinner>
        </ion-row>

        <ion-row>
					<div class="points">{{ carOnePu.puPoints }}</div>
				</ion-row>

				<div class="value">
					{{ +carOnePu.puValue | currency:'USD':true:'1.0' }}
				</div>

				<h5 [ngClass]="{negative: carOnePu.valChange < 0}" class="positive val-change"> 
					{{ carOnePu.valChange | currency:'USD':true:'1.0' }}
				</h5>
				<ion-icon class="icon-car-1 hide-icon" [ngClass]="{'show-icon': carOnePu.puUpgrade === true}" name="star"></ion-icon>  
			</ion-card>
		</ion-col>		
	</ion-row>

	<!-- *********** Car Two **********-->
	<ion-row class="top-space">
		<img class="car-bg" src="assets/img/team-car.png" />
		<div class="text-center primary-bg slideExpandUp delay-3">
			CAR TWO
		</div>
	</ion-row>

	<!-- Driver: car two -->
		<ion-row class="top-space">
		<ion-col width-33 class="pullUp delay-4">
			<ion-card class="hq-card card-1" *ngIf="userDriverTwoEmpty">
				<ion-card-header class="car-two-header">
					<div>Driver</div>
				</ion-card-header>
				<ion-row>
					<img class="driver-img driver-default" src="assets/img/driver-default.png" />	    		
				</ion-row>
			</ion-card>

			<ion-card class="hq-card card-1 pullUp delay-4" *ngIf="!userDriverTwoEmpty">
				<ion-card-header class="car-two-header">
					<div>Driver</div>
				</ion-card-header>

				<div class="name">
					{{carTwoDriver.firstName}}<br />
				 	{{carTwoDriver.lastName}}
				</div>
				<ion-row> 
	        <img [src]="carTwoDriver.driverImage" class="driver-img" (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" />
	        <ion-spinner name="crescent" [ngClass]="{'center-spinner car-two-spinner':true}" *ngIf="!loaded"></ion-spinner>
			  </ion-row>
			  <ion-row>
			  	<div class="points">{{ carTwoDriver.driverPoints }}</div>
				</ion-row>
				<div class="value">
					{{ +carTwoDriver.driverValue | currency:'USD':true:'1.0' }}
				</div>
				<h5 [ngClass]="{negative: carTwoDriver.valChange < 0}" class="positive val-change"> 
					{{ carTwoDriver.valChange | currency:'USD':true:'1.0' }}
				</h5>
				<ion-icon class="icon-car-1 hide-icon" [ngClass]="{'show-icon': carTwoDriver.driverUpgrade === true}" name="star"></ion-icon>
			</ion-card>
		</ion-col>

		<!-- Chassis: car two -->
		<ion-col width-33 class="pullUp delay-5">
			<ion-card class="hq-card card-2" *ngIf="userChassisTwoEmpty">
				<ion-card-header class="car-two-header">
					<div>Chassis</div>
				</ion-card-header>
				<ion-row>
					<img class="chassis-img chassis-default" src="assets/img/chassis-default.png" />
				</ion-row>
			</ion-card>

			<ion-card class="hq-card card-2" *ngIf="!userChassisTwoEmpty">
				<ion-card-header class="car-two-header">
					<div>Chassis</div>
				</ion-card-header>
				<div class="name">{{carTwoChassis.chassisName}}</div>
				<ion-row>
					<img [src]="carTwoChassis.chassisImage" class="chassis-img" (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" />
	    		<ion-spinner name="crescent" [ngClass]="{'center-spinner car-two-spinner':true}" *ngIf="!loaded"></ion-spinner>
				</ion-row>
				<ion-row>
					<div class="points">{{ carTwoChassis.chassisPoints }}</div>
				</ion-row>
				<div class="value">
					{{ +carTwoChassis.chassisValue | currency:'USD':true:'1.0' }}
				</div>
	  		<h5 [ngClass]="{negative: carTwoChassis.valChange < 0}" class="positive val-change"> {{ carTwoChassis.valChange | currency:'USD':true:'1.0' }}
				</h5>
				<ion-icon class="icon-car-1 hide-icon" [ngClass]="{'show-icon': carTwoChassis.chassisUpgrade === true}" name="star"></ion-icon>
			</ion-card>
		</ion-col>

		<!-- Pu: car two -->
		<ion-col width-33 class="pullUp delay-6">
			<ion-card class="hq-card card-3" *ngIf="userPuTwoEmpty">
				<ion-card-header class="car-two-header">
					<div>Power Unit</div>
				</ion-card-header>
				<ion-row>
					<img class="pu-image pu-default" src="assets/img/pu-default.png" />
				</ion-row>
			</ion-card>

			<ion-card class="hq-card card-3" *ngIf="!userPuTwoEmpty">
				<ion-card-header class="car-two-header">
					<div>Power Unit</div>
				</ion-card-header>
				<div class="name">{{carTwoPu.puName}}</div>
				<ion-row>
					<img [src]="carTwoPu.puImage" class="pu-image" (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" />	
          <ion-spinner name="crescent" [ngClass]="{'center-spinner car-two-spinner':true}" *ngIf="!loaded"></ion-spinner>
        </ion-row>

        <ion-row>
					<div class="points">{{ carTwoPu.puPoints }}</div>
				</ion-row>
				<div class="value">
					{{ +carTwoPu.puValue | currency:'USD':true:'1.0' }}
				</div>
				<h5 [ngClass]="{negative: carTwoPu.valChange < 0}" class="positive val-change"> 
					{{ carTwoPu.valChange | currency:'USD':true:'1.0' }}
				</h5>
				<ion-icon class="icon-car-1 hide-icon" [ngClass]="{'show-icon': carTwoPu.puUpgrade === true}" name="star"></ion-icon>  
			</ion-card>
		</ion-col>
	</ion-row>
	</div>
</ion-content>
