<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>967268565014-qa6ol1ulqd23mbnhntgejtno1g4h0h7n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967268565014-qa6ol1ulqd23mbnhntgejtno1g4h0h7n</string>
	<key>API_KEY</key>
	<string>AIzaSyB0euC2ZAuENs8C692MU-3qnUmnop0aHKg</string>
	<key>GCM_SENDER_ID</key>
	<string>967268565014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oneracingleague.app</string>
	<key>PROJECT_ID</key>
	<string>one-racing-league</string>
	<key>STORAGE_BUCKET</key>
	<string>one-racing-league.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967268565014:ios:fecb80e65bccb832</string>
	<key>DATABASE_URL</key>
	<string>https://one-racing-league.firebaseio.com</string>
</dict>
</plist>