<ion-header>
  <ion-navbar color="primary">
  </ion-navbar>
</ion-header>

<ion-content>
	<div class="container margin-bottom">
	<!-- Info Panel -->
	<div *ngFor="let user of userList">
    <ion-row>
    	<ion-col>
	      <ion-card class="relative-pos card-left card-height">
	     		<img class="bank-img" src="assets/img/bank-icon.png" />
	      	<div class="text-height">
	      		<span class="title-text">
	      			{{user.money | currency:'USD':true:'1.0'}}
	      		</span>
	      	</div>
	      </ion-card>
    	</ion-col>

    	<ion-col>
	      <ion-card class="relative-pos card-height">
	     		<img class="trades-img" src="assets/img/trade-icon-dark.png" />
	      	<div class="text-height">
	      		Trades: 
	      		<span class="title-text">
	      			{{user.trades }}
	      		</span>
	      	</div>
				</ion-card>
			</ion-col>
			<button ion-button class="add-trade-btn add-btn" (click)="goToBuyTrades()" [disabled]="gameState == 'lockout'">+</button>
  	</ion-row>
	</div>

	<ion-row class="top-space-lg">
		<img class="car-bg" src="assets/img/team-car.png" />
		<div class="text-center positive-rel slideExpandUp delay-2">
			CAR ONE
			<ion-icon name="md-information-circle" class="car-help" (click)="carHelp();"></ion-icon>
		</div>
	</ion-row>
	<ion-row class="top-space">
		
		<!-- Driver: car one -->
		<ion-col width-33 class="pullUp delay-1">
			<ion-card tappable (click)="goToDriverOne()" class="hq-card card-1 empty-card" *ngIf="userDriverOneEmpty">
				<ion-card-header class="card-header">
					<div>Driver</div>
				</ion-card-header>
				<ion-row>
					<img class="driver-img driver-default" src="assets/img/driver-default.png" />
				</ion-row>
				<ion-icon name="md-add-circle" class="car-one-icon"></ion-icon>
			</ion-card>

			<ion-card *ngFor="let user of userDriverOne" (click)="goToDriverOne()" class="hq-card card-1">
				<ion-card-header class="card-header">
					<div>Driver</div>
				</ion-card-header>

				<div class="name">
					{{user.firstName}}<br />
				 	{{user.lastName}}
				</div>

				<ion-row> 
	        <img [src]="user.driverImage" class="driver-img" (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" />
	        <ion-spinner name="crescent" [ngClass]="{'center-spinner car-one-spinner':true}" *ngIf="!loaded"></ion-spinner>
			  </ion-row>

			  <ion-row>
			  	<div class="points">{{ user.driverPoints }}</div>
				</ion-row>

				<div class="value">
					{{ +user.driverValue | currency:'USD':true:'1.0' }}
				</div>

				<h5 [ngClass]="{negative: user.valChange < 0}" class="positive val-change"> 
					{{ user.valChange | currency:'USD':true:'1.0' }}
				</h5>

				<ion-icon class="icon-car-1 hide-icon" [ngClass]="{'show-icon': user.driverUpgrade === true}" name="star"></ion-icon>
			</ion-card>
		
			<button ion-button class="upgrade-btn offset-bg" [hidden]="gameState == 'lockout' || driverOneUpgrade == true" (click)="confirmDriverAlert('one');">Upgrade</button>
		</ion-col>

		<!-- Chassis: car one -->
		<ion-col width-33 class="pullUp delay-2">
			<ion-card tappable (click)="goToChassisOne()" class="hq-card card-2 empty-card" *ngIf="userChassisOneEmpty">
				<ion-card-header class="card-header">
					<div>Chassis</div>
				</ion-card-header>
				<ion-row>
					<img class="chassis-img chassis-default" src="assets/img/chassis-default.png" />
				</ion-row>
				<ion-icon name="md-add-circle" class="car-one-icon"></ion-icon>
			</ion-card>

			<ion-card *ngFor="let user of userChassisOne" class="hq-card card-2" (click)="goToChassisOne()">
				<ion-card-header class="card-header">
					<div>Chassis</div>
				</ion-card-header>
				<div class="name">{{user.chassisName}}</div>
				<ion-row>
					<img [src]="user.chassisImage" class="chassis-img" (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" />
	    		<ion-spinner name="crescent" [ngClass]="{'center-spinner car-one-spinner':true}" *ngIf="!loaded"></ion-spinner>
				</ion-row>
				
				<ion-row>
					<div class="points">{{ user.chassisPoints }}</div>
				</ion-row>

				<div class="value">
					{{ +user.chassisValue | currency:'USD':true:'1.0' }}
				</div>
	  		
	  		<h5 [ngClass]="{negative: user.valChange < 0}" class="positive val-change"> {{ user.valChange | currency:'USD':true:'1.0' }}
				</h5>	
					
				<ion-icon class="icon-car-1 hide-icon" [ngClass]="{'show-icon': user.chassisUpgrade === true}" name="star"></ion-icon>

			</ion-card>
			<button ion-button class="upgrade-btn offset-bg bump-1" [hidden]="gameState == 'lockout' || chassisOneUpgrade == true" (click)="confirmChassisAlert('one');">Upgrade</button>
		</ion-col>


		<!-- Pu: car one -->
		<ion-col width-33 class="pullUp delay-5">
			<ion-card tappable (click)="goToPuOne()" class="hq-card card-3 empty-card" *ngIf="userPuOneEmpty">
				<ion-card-header class="card-header">
					<div>Power unit</div>
				</ion-card-header>
	
				<ion-row>
					<img class="pu-image pu-default" src="assets/img/pu-default.png" />	    		
				</ion-row>

				<ion-icon name="md-add-circle" class="car-one-icon"></ion-icon>
			</ion-card>

			<ion-card *ngFor="let user of userPuOne" class="hq-card card-3" (click)="goToPuOne()">
				<ion-card-header class="card-header">
					<div>Power Unit</div>
				</ion-card-header>

				<div class="name">{{user.puName}}</div>
				<ion-row>
					<img [src]="user.puImage" class="pu-image" (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" />
            	
          <ion-spinner name="crescent" [ngClass]="{'center-spinner car-one-spinner':true}" *ngIf="!loaded"></ion-spinner>
        </ion-row>

        <ion-row>
					<div class="points">{{ user.puPoints }}</div>
				</ion-row>

				<div class="value">
					{{ +user.puValue | currency:'USD':true:'1.0' }}
				</div>

				<h5 [ngClass]="{negative: user.valChange < 0}" class="positive val-change"> 
					{{ user.valChange | currency:'USD':true:'1.0' }}
				</h5>
				<ion-icon class="icon-car-1 hide-icon" [ngClass]="{'show-icon': user.puUpgrade === true}" name="star"></ion-icon>  
			</ion-card>
			<button ion-button class="upgrade-btn offset-bg bump-2" [hidden]="gameState == 'lockout' || puOneUpgrade == true" (click)="confirmPuAlert('one');">Upgrade</button>
		</ion-col>		
	</ion-row>

	<!-- *********** Car Two **********-->
	<ion-row class="top-space">
		<img class="car-bg" src="assets/img/team-car.png" />
		<div class="text-center primary-bg slideExpandUp delay-3">
			CAR TWO
			<ion-icon name="md-information-circle" class="car-help" (click)="carHelp();"></ion-icon>
		</div>
	</ion-row>

	<!-- Driver: car two -->

	<ion-row class="top-space">
		<ion-col width-33 class="pullUp delay-4">
			<ion-card tappable (click)="goToDriverTwo()" class="hq-card card-1" *ngIf="userDriverTwoEmpty">
				<ion-card-header class="car-two-header">
					<div>Driver</div>
				</ion-card-header>
				<ion-row>
					<img class="driver-img driver-default" src="assets/img/driver-default.png" />	    		
				</ion-row>
				<ion-icon name="md-add-circle" class="car-one-icon"></ion-icon>
			</ion-card>

			<ion-card *ngFor="let user of userDriverTwo" class="hq-card card-1 pullUp delay-4" (click)="goToDriverTwo()">
				<ion-card-header class="car-two-header">
					<div>Driver</div>
				</ion-card-header>
				<!-- <div class="hide-icon" [ngClass]="{'fadeIn': user.driverStatus === 'first'}">
		      <ion-icon class="leader" name="star"></ion-icon>
		    </div> -->
				<div class="name">
					{{user.firstName}}<br />
				 	{{user.lastName}}
				</div>
				<ion-row> 
	        <img [src]="user.driverImage" class="driver-img" (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" />
	        <ion-spinner name="crescent" [ngClass]="{'center-spinner car-two-spinner':true}" *ngIf="!loaded"></ion-spinner>
			  </ion-row>
			  <ion-row>
			  	<div class="points">{{ user.driverPoints }}</div>
				</ion-row>
				<div class="value">
					{{ +user.driverValue | currency:'USD':true:'1.0' }}
				</div>
				<h5 [ngClass]="{negative: user.valChange < 0}" class="positive val-change"> 
					{{ user.valChange | currency:'USD':true:'1.0' }}
				</h5>
				<ion-icon class="icon-car-1 hide-icon" [ngClass]="{'show-icon': user.driverUpgrade === true}" name="star"></ion-icon>
			</ion-card>
			<button ion-button class="upgrade-btn" [hidden]="gameState == 'lockout' || driverTwoUpgrade == true" (click)="confirmDriverAlert('two');">Upgrade</button>
		</ion-col>

		<!-- Chassis: car two -->
		<ion-col width-33 class="pullUp delay-5">
			<ion-card tappable (click)="goToChassisTwo()" class="hq-card card-2" *ngIf="userChassisTwoEmpty">
				<ion-card-header class="car-two-header">
					<div>Chassis</div>
				</ion-card-header>
				<ion-row>
					<img class="chassis-img chassis-default" src="assets/img/chassis-default.png" />
				</ion-row>
				<ion-icon name="md-add-circle" class="car-one-icon"></ion-icon>
			</ion-card>

			<ion-card *ngFor="let user of userChassisTwo" class="hq-card card-2" (click)="goToChassisTwo()">
				<ion-card-header class="car-two-header">
					<div>Chassis</div>
				</ion-card-header>
				<div class="name">{{user.chassisName}}</div>
				<ion-row>
					<img [src]="user.chassisImage" class="chassis-img" (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" />
	    		<ion-spinner name="crescent" [ngClass]="{'center-spinner car-two-spinner':true}" *ngIf="!loaded"></ion-spinner>
				</ion-row>
				<ion-row>
					<div class="points">{{ user.chassisPoints }}</div>
				</ion-row>
				<div class="value">
					{{ +user.chassisValue | currency:'USD':true:'1.0' }}
				</div>
	  		<h5 [ngClass]="{negative: user.valChange < 0}" class="positive val-change"> {{ user.valChange | currency:'USD':true:'1.0' }}
				</h5>
				<ion-icon class="icon-car-1 hide-icon" [ngClass]="{'show-icon': user.chassisUpgrade === true}" name="star"></ion-icon>
			</ion-card>
			<button ion-button class="upgrade-btn bump-1" [hidden]="gameState == 'lockout' || chassisTwoUpgrade == true" (click)="confirmChassisAlert('two');">Upgrade</button>
		</ion-col>

		<!-- Pu: car two -->
		<ion-col width-33 class="pullUp delay-6">
			<ion-card tappable (click)="goToPuTwo()" class="hq-card card-3" *ngIf="userPuTwoEmpty">
				<ion-card-header class="car-two-header">
					<div>Power Unit</div>
				</ion-card-header>
				<ion-row>
					<img class="pu-image pu-default" src="assets/img/pu-default.png" />
				</ion-row>
				<ion-icon name="md-add-circle" class="car-one-icon"></ion-icon>
			</ion-card>

			<ion-card *ngFor="let user of userPuTwo" class="hq-card card-3" (click)="goToPuTwo()" >
				<ion-card-header class="car-two-header">
					<div>Power Unit</div>
				</ion-card-header>
				<div class="name">{{user.puName}}</div>
				<ion-row>
					<img [src]="user.puImage" class="pu-image" (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" />	
          <ion-spinner name="crescent" [ngClass]="{'center-spinner car-two-spinner':true}" *ngIf="!loaded"></ion-spinner>
        </ion-row>

        <ion-row>
					<div class="points">{{ user.puPoints }}</div>
				</ion-row>
				<div class="value">
					{{ +user.puValue | currency:'USD':true:'1.0' }}
				</div>
				<h5 [ngClass]="{negative: user.valChange < 0}" class="positive val-change"> 
					{{ user.valChange | currency:'USD':true:'1.0' }}
				</h5>
				<ion-icon class="icon-car-1 hide-icon" [ngClass]="{'show-icon': user.puUpgrade === true}" name="star"></ion-icon>  
			</ion-card>
			<button ion-button class="upgrade-btn bump-2" [hidden]="gameState == 'lockout' || puTwoUpgrade == true" (click)="confirmPuAlert('two');">Upgrade</button>
		</ion-col>
	</ion-row>
	</div>
</ion-content>
