<ion-header>
  <ion-navbar color="primary">
    <ion-row class="info-header">
      <ion-col>
        <ion-card class="relative-pos card-left">
         <img class="title-icon" src="assets/img/bank-icon.png" />
          <div class="title-text-bank"><span class="title-val">{{teamCash | currency:'USD':true:'1.0'}}</span></div>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="relative-pos">
         <img class="trades-icon" src="assets/img/trade-icon-dark.png" />
          <div class="title-text-trade">Trades: <span class="title-val">{{userTrades}}</span></div>
        </ion-card>
      </ion-col>
  	</ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding class="child-header">
	<div class="container">
		<!-- Power unit One -->
		<ion-row>
			<ion-card *ngIf="(userPuOne != 0)" class="card-layout left pullUp delay-3">
			  <div class="relative-pos" *ngFor="let user of userPuOne" (click)="goToPu()">
				  <ion-row> 
						<ion-col width-20 class="margin-image">
							<img [src]="user.puImage" class="pu-image" />
					  </ion-col>
					  <ion-col width-60 class="vert-center">
					  	<div class="pu-name"> 
					   		{{user.puName}}
					   	</div>
					   	<div class="pu-value">
					  		{{ user.puValue | currency:'USD':true:'1.0' }}
					  	</div>
					  	<span class="positive val-change" [ngClass]="{negative: user.valChange < 0}"> 
								{{ user.valChange | currency:'USD':true:'1.0' }}
							</span>
					  </ion-col>
				  	<ion-col width-20 class="relative-pos">
            	<h3 class="points"> {{ user.puPoints }} </h3>
            	<div class="to-bottom">
            		<img class="car-img" src="assets/img/black-car.png" />
            		<div class="car-number">CAR ONE</div>
            	</div>
          	</ion-col>
					</ion-row>
		  	</div>
			</ion-card>
		</ion-row>

		<ion-row class="header-marg">
		  <div class="text-center relative-pos slideExpandUp delay-3">
		  	Available power units
		  	<ion-icon name="md-information-circle" class="car-help" (click)="carHelp();"></ion-icon>
		  </div>
		</ion-row>

		<ion-list *ngIf="puList">
		  <ion-item class="relative-pos pu-item-height pullUp delay-{{i}}" *ngFor="let pu of puList; let i=index" [ngClass]="{'highlight-one': pu.puName == puNameOne ? 'highlight-two': pu.puName == puNameTwo}">
		   	<ion-thumbnail item-left>
		   		<img class="margin-image" [src]="pu.puImage" (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" />
	      	<ion-spinner name="crescent" [ngClass]="{'center-spinner ':true}" *ngIf="!loaded"></ion-spinner>
		   	</ion-thumbnail>
		   	<ion-row class="v-center">
			   	<ion-col class="vert-center">
				  	<h2 class="list-name">{{ pu.puName }}</h2>
				  	<h5 class="list-value">
				   		{{ pu.puValue | currency:'USD':true:'1.0' }}
				   	</h5>
				   	<span class="positive val-change" [ngClass]="{negative: pu.valChange < 0}"> 
				   	 	{{ pu.valChange | currency:'USD':true:'1.0' }}
				   	</span>
			   	</ion-col>
			   	<ion-col class="align-right">
						<button class="stats-btn" ion-button (click)="goToPuStats(pu.puName);" [ngClass]="{'hide-button': this.round < 2}">
			   			<ion-icon name="stats"></ion-icon>
			   		</button>
				   	<button class="cantAfford buy-btn" ion-button (click)="addPU('one', pu);" [disabled]="pu.puName == puNameOne || pu.puValue > (teamCash + userPuOneValue)" [hidden]="gameState == 'lockout'">
				   		<ion-icon>
				   			<img class="trade-icon" src="assets/img/bank-icon-light.png" />
				   		</ion-icon>
				   	</button>
					</ion-col>
				</ion-row>

				<div *ngIf="pu.puName == puNameOne || pu.puName == puNameTwo" class="to-bottom right-tag">
        	<div class="tag-driver-one" *ngIf="pu.puName == puNameOne">
	          <div class="tag-text bumpRight">CAR ONE</div>
	          <img class="car-tag slideRight" src="assets/img/black-car.png" />
	        </div>
	        <div class="tag-holder-two" *ngIf="pu.puName == puNameTwo">
	         	<div class="tag-text-two bumpRight">CAR TWO</div>
	          <img class="car-tag slideRight delay-mach" src="assets/img/red-car.png" />
	        </div>
	      </div>
			</ion-item>
		</ion-list>
	</div>
</ion-content>
