page-pu-two {
	.scroll-content {
		margin-bottom: 0 !important;
	}
	
	.fixed-content {
		margin-bottom: 0 !important;
	}

	.card-layout.card-android, .card-layout.card, .card-layout.card-ios {
    margin: 8px;
    padding: 8px;
    width: calc(100% - 16px);
  }

	.item-md ion-thumbnail ion-img, 
	.item-md ion-thumbnail img {
		width: 45px;
		height: auto;
	}

	.card-left {
    margin: 8px 0 8px 8px;
    width: calc(100% - 8px);
	}
	
	.card-min-height {
		min-height: 90px;
	}
	
	.relative-pos {
		position: relative!important;
	}

	.right-pad {
		margin-right: 10px;
	}

	.text-center {
		background-color: #000;
		border-radius: 2px;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
		-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
		display: block;
		font-family: 'ubuntu-bold', helvetica, sans-serif;
		font-size: 16px;	
		color: #eff1f3;
		margin: 0 auto;
		padding: 6px 16px;
		text-align: center;
	}

	.car-one-number {
		color: #ccc;
		font-size: 90px;
		left: 0px;
    position: absolute;
    top: -15px;
	}
	
	img.car-img {
		height: auto;
		margin: 8px 0 -2px 4px;
		max-width: 60px;
		width: 100%;
	}
	
	.align-right {
		right: 0;
	}

	//****** spinner *******//
	.img-loaded + ion-spinner {
  	display: none;
	}

	.center-spinner {
		margin: auto;
		display: block;
		// min-height: 125px;
		circle,
		line {
			stroke: #d31411;
		}
	}

  .hide-button {
		display: none;
	}

  .no-bot-marg {
  	margin-bottom: 0;
  }

  .header-marg {
  	margin: 8px 0;
  }

	ion-icon.leader {
		color: #e0b507;
		font-size: 28px;
    text-align: right;
    margin-top: 12px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -webkit-text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	}

	.to-right {
		text-align: right;
	}

	.abrev {
		text-align: right;
		font-size: 24px;
		color: #2e2e2e;
		margin-top: 2px;
	}

	.value h4 {
		font-weight: 600;
		text-align: center;
		color: #fff;
		padding: 8px 8px 4px;
		width: 100%;
	}
	
	.vert-margin {
		width: calc(100% - 16px);
		margin: 0 auto 16px;
		border-radius: 2px;
	}
	
	.vert-center {
		display: flex;
  	flex-direction: column;
  	justify-content: center;
	}
	
	.car-number {
		color: #2e2e2e;
		font-family: 'ubuntu-bold', helvetica, sans-serif;
		font-size: 13px;
		margin-left: 2px;
	}

	.set-height {
		max-height: 100px !important;
	}

	.pu-value {
		font-size: 15px;
		color: grey;
	}

	.pu-name {
		color: #2e2e2e;
		font-family: 'ubuntu-bold', helvetica, sans-serif;
		font-size: 18px;
		margin: 2px 0;
	}
	
	.pu-image {
    height: auto;
    max-width: 50px;
    width: auto;
	}

	.points {
    color: grey;
    font-size: 24px;
    font-family: 'ubuntu-bold', helvetica, sans-serif;
    line-height: 24px;
    margin-top: 4px;
    text-align: right;
	}

	.positive {
		color: green;
		position: relative;
		font-weight: bolder;
	}

	.negative {
		color: #d31411;
		font-weight: bolder;
	}
	
	.margin-image {
		margin: 10px 0;
	}

  .header-marg {
  	margin: 8px 0;
  }

  .item p {
  	font-size: 16px;
  }

  .to-bottom {
		position: absolute;
    bottom: 0px;
	}

  .width-min {
  	max-width: 50px;
  }

	.hide-icon {
		visibility: hidden;
	}

	.pu-name,
  .pu-value,
  .bump {
  	left: 12px;
  	position: relative;
  }

// ************* LIST STYLING ***********//
	ion-list.list {
		margin: 0 8px 0px 8px;
	}

	.list ion-item.item.item-block {
		border-radius: 2px;
		margin-bottom: 4px;
	}

	.list .item-block .item-inner {
		border-bottom:0;
	}

	ion-thumbnail {
		min-height: 20px!important;
		min-width: 20px!important;
	}

	ion-label.label {
		margin: 4px 0!important;
	}

	.list-value {
    font-size: 14px;
    color: grey;
    margin: 0;
	}

	.list-name {
		color: #2e2e2e;
		font-family: 'ubuntu-bold', helvetica, sans-serif;
		font-size: 18px;
		margin: 0;
	}
	
	.list-points {
		color: #414042;
		font-size: 22px;
		font-weight: 900;
		position: absolute;
		top: 0;
		right: 0;
		h2 {
			font-size: 20px !important;
		}
	}

	span button-inner {
		margin-top: 2px;
	}

	.item-button {
		position: relative;
		top: 22px;
		right: 4px;
		width: 50px !important;	
	}

	.align-right {
		text-align: right;
	}

	.highlight-item {
		background-color: #fcfbd6;
	}
}

@media only screen and (min-width: 520px) {
	page-pu-two {
    .container {
      width: 70vw;
      margin-left:15vw;
      margin-top: 8vh;
    }

    .info-header {
    	width: 70vw;
    	margin-left: 15vw;
    	margin-right: 15vw;
		}

		.back-button {
			position: absolute!important;
		}

		ion-col[width-20] {
    	-webkit-flex: 0 0 15%;
    	-ms-flex: 0 0 15%;
    	flex: 0 0 15%;
    	max-width: 15%;
  	}
	}
}

@media only screen and (max-width: 340px) {
	page-pu-two {
    .item-md h2 {
	    margin: 2px 0;
	    font-size: 1.6rem;
	    font-weight: normal;
	    letter-spacing: -0.4px;
	    width: 125px;
	    text-overflow: ellipsis;
	    overflow: hidden;
	  }

	  .toolbar-title {
			font-size: 18px;
		}

	 	ion-title {
	 		padding: 0 90px 1px 75px !important;
	 	}

	  .pu-name,
	  .pu-value,
	  .bump {
	  	left: 16px;
	  	position: relative;
	  }
 		
 		.list-abrev {
 			font-size: 20px;
 		}

 		.list-name {
    	margin-bottom: 0;
		}
		
		.list-points {
    	top: 27px;
    }
	}
}
