page-driver-two {
	
	.scroll-content {
		margin-bottom: 0 !important;
	}
	
	.fixed-content {
		margin-bottom: 0 !important;
	}

	.card-layout.card-android, .card-layout.card, .card-layout.card-ios {
    margin: 8px;
    padding: 8px;
    width: calc(100% - 16px);
  }

	.card-left {
    margin: 8px 0 8px 8px;
    width: calc(100% - 8px);
	}
	
	.card-min-height {
		min-height: 90px;
	}

	.min-list-height {
		min-height: 90px;
	}

	.relative-pos {
		position: relative!important;
	}
	
	.right-pad {
		margin-right: 10px;
	}
	
	img.car-tag {
		transition: all ease 0.3s;
	}

	.text-center {
		background-color: #000;
		border-radius: 2px;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
		-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
		display: block;
		font-family: 'ubuntu-bold', helvetica, sans-serif;
		font-size: 16px;	
		color: #eff1f3;
		margin: 0 auto;
		padding: 6px 16px;
		text-align: center;
	}

	img.car-img {
		height: auto;
		margin: 8px 0 -2px;
		width: 100%;
	}

	//****** spinner *******//
	.img-loaded + ion-spinner {
  	display: none;
	}

	.center-spinner {
		margin: auto;
		display: block;
		// min-height: 125px;
		circle,
		line {
			stroke: #d31411;
		}
	}

  .hide-button {
		display: none;
	}

  .no-bot-marg {
  	margin-bottom: 0;
  }

  .header-marg {
  	margin: 8px 0;
  }

	ion-icon.leader {
		color: #e0b507;
		font-size: 28px;
    text-align: right;
    margin-top: 12px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -webkit-text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	}

	.to-right {
		text-align: right;
	}

	.abrev {
		text-align: right;
		font-size: 24px;
		color: #2e2e2e;
		line-height: 20px;
		margin: 0;
	}

	.value h4 {
		font-weight: 600;
		text-align: center;
		color: #fff;
		padding: 8px 8px 4px;
		width: 100%;
	}
	
	.vert-margin {
		width: calc(100% - 16px);
		margin: 0 auto 16px;
		border-radius: 2px;
	}
	
	.driver-value {
		font-size: 15px;
		color: grey;
	}

	.driver-name {
		color: #2e2e2e;
		font-family: 'ubuntu-bold', helvetica, sans-serif;
		font-size: 18px;
	}
	
	.driver-image {
		height: auto !important;
    width: 60px !important;
	}

	.margin-image {
		margin: 10px 0 10px 0;
	}

	.car-number {
		color: #2e2e2e;
		font-family: 'ubuntu-bold', helvetica, sans-serif;
		font-size: 13px;
		margin-left: 2px;
	}

	.margin-left {
		margin-left: 15px;
	}
	
	.points {
    color: grey;
    font-size: 24px;
    font-family: 'ubuntu-bold', helvetica, sans-serif;
    line-height: 24px;
    margin: 0;
    text-align: right;
	}
  
  .to-bottom {
		position: absolute;
    bottom: 0px;
	}

  .header-marg {
  	margin: 8px 0;
  }

  .item p {
  	font-size: 16px;
  }
  
  .width-min {
  	max-width: 50px;
  }

	.hide-icon {
		visibility: hidden;
	}

// ************* LIST STYLING ***********//
	ion-list.list {
		margin: 0 8px 0px 8px;
	}

	.list ion-item.item.item-block {
		border-radius: 2px;
		margin-bottom: 4px;
	}

	.list .item-block .item-inner {
		border-bottom:0;
	}

	ion-thumbnail {
		min-height: 20px!important;
		min-width: 20px!important;
	}

	ion-label.label {
		margin: 4px 0!important;
	}

	.list-value {
    font-size: 14px;
    color: grey;
    margin: 1px 0 2px!important;
	}

	.list-name {
		color: #2e2e2e;
		font-family: 'ubuntu-bold', helvetica, sans-serif;
		font-size: 18px;
		margin-top: 0 !important;
	}
	
	.list-points {
		color: #414042;
		font-size: 22px;
		position: absolute;
		top: 0;
		right: 0;
		margin:0;

		h2 {
			font-size: 20px !important;
		}
	}

	.list-height {
		height: 78px;
	}

	span button-inner {
		margin-top: 2px;
	}

	.item-button {
		position: relative;
		top: 22px;
		right: 4px;
		width: 50px !important;
	}

	.align-right {
		text-align: right;
	}

	ion-thumbnail[item-left] {
		margin: 8px 8px 8px 0 !important;
	}
}

@media only screen and (min-width: 520px) {
	page-driver-two {
    .container {
      width: 70vw;
      margin-left:15vw;
      margin-top: 8vh;
    }

    .info-header {
    	width: 70vw;
    	margin-left: 15vw;
    	margin-right: 15vw;
		}

		.back-button {
			position: absolute!important;
		}
	}
}

@media only screen and (max-width: 340px) {
	page-driver-two {
    .item-md h2 {
	    margin: 2px 0;
	    font-size: 1.6rem;
	    font-weight: normal;
	    letter-spacing: -0.4px;
	    width: 125px;
	    text-overflow: ellipsis;
	    overflow: hidden;
	  }

	  .toolbar-title {
			font-size: 18px;
		}

	 	ion-title {
	 		padding: 0 90px 1px 75px !important;
	 	}

	  .driver-name {
	  	font-size: 14px;
	  }

	  .pu-name,
	  .chassis-name {
	  	font-size: 18px;
	  }
 		
 		.list-abrev {
 			font-size: 20px;
 		}

 		.list-name {
 			font-size: 16px;
    	margin: 4px 0 0 0;
    	overflow: hidden;
    	text-overflow: ellipsis;
		}
		
		.list-image {
		  height: auto;
		  width: 42px;
		}

		.v-center {
			justify-content: left;
		}
	}
}
