<ion-header>
  <ion-navbar color="primary">
    <ion-row class="info-header">
      <ion-col>
        <ion-card class="relative-pos card-left">
         <img class="title-icon" src="assets/img/bank-icon.png" />
          <div class="title-text-bank">
            <span class="title-val">{{teamCash | currency:'USD':true:'1.0'}}</span>
          </div>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="relative-pos">
         <img class="trades-icon" src="assets/img/trade-icon-dark.png" />
          <div class="title-text-trade">Trades: <span class="title-val">{{userTrades}}</span></div>
        </ion-card>
      </ion-col>
  	</ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding class="child-header">
  <div class="container">
	  <!-- Driver one -->
	  <ion-row>
      <ion-card *ngIf="(userDriverTwo != 0)" class="card-layout pullUp delay-3">
        <div class="relative-pos" *ngFor="let user of userDriverTwo">  
          <ion-row> 
            <ion-col col-2 class="margin-image">
              <img [src]="user.driverImage" class="driver-image" />
            </ion-col>
            <ion-col col-7 class="vert-center">
              <div class="margin-left">
                <div class="driver-name">
                  {{user.firstName}} {{user.lastName}}
                </div>
                <div class="driver-value">
                  {{ +user.driverValue | currency:'USD':true:'1.0' }} 
                </div>
                <span class="positive val-change" [ngClass]="{negative: user.valChange < 0}" > 
                  {{ user.valChange | currency:'USD':true:'1.0' }}
                </span>
              </div>
            </ion-col>

            <ion-col col-3>
              <h3 class="points">{{ user.driverPoints }}</h3>
              <div class="to-bottom">
                <img class="car-img" src="assets/img/red-car.png" />
                <div class="car-number car-two">CAR TWO</div>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-card>
  </ion-row>

  <ion-row class="header-marg">
    <div class="text-center relative-pos slideExpandUp delay-3">
      Available drivers
      <ion-icon name="md-information-circle" class="car-help" (click)="carHelp();"></ion-icon>
    </div>
  </ion-row>

  <ion-list *ngIf="driversList">
    <ion-item class="relative-pos min-list-height pullUp delay-{{i}}" *ngFor="let driver of driversList; let i=index" [ngClass]="{'highlight-one': driver.abrev == abrevOne ? 'highlight-two': driver.abrev == abrevTwo}">

      <ion-thumbnail item-left>
        <img class="list-image" [src]="driver.driverImage" (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" />
        <ion-spinner name="crescent" [ngClass]="{'center-spinner ':true}" *ngIf="!loaded"></ion-spinner>
      </ion-thumbnail>

      <ion-row class="v-center">
        <ion-col col-7>
          <h2 class="list-name">{{ driver.firstName }} {{ driver.lastName }}</h2>
          <h5 class="list-value">
            {{ driver.driverValue | currency:'USD':true:'1.0' }}
          </h5>
          <h5 [ngClass]="{negative: driver.valChange < 0}" class="val-change positive">
            {{ driver.valChange | currency:'USD':true:'1.0' }}
          </h5>
        </ion-col>

        <ion-col col-4 class="align-right">
          <button class="stats-btn" ion-button (click)="goToDriverStats(driver.abrev);" [disabled]="currentRound < 2">
            <ion-icon name="stats"></ion-icon>
          </button>
          <button class="cantAfford buy-btn" ion-button (click)="addDriver('two', driver);" [disabled]="driver.abrev == abrevOne || driver.abrev == abrevTwo ||  driver.driverValue > (teamCash + userDriverTwoValue)" [hidden]="gameState == 'lockout'">
            <ion-icon>
            	<img class="trade-icon" src="assets/img/bank-icon-light.png" />
            </ion-icon>
          </button>
        </ion-col>
      </ion-row>

     	<div *ngIf="driver.abrev == abrevOne || driver.abrev == abrevTwo" class="to-bottom right-tag" >
        <div class="tag-driver-one" *ngIf="driver.abrev == abrevOne">
          <div class="tag-text bumpRight">CAR ONE</div>
          <img class="car-tag slideRight delay-mach" src="assets/img/black-car.png" [ngClass]="{'move-it': animateCar == true }" />
        </div>
        <div class="tag-holder-two" *ngIf="driver.abrev == abrevTwo">
          <div class="tag-text-two bumpRight">CAR TWO</div>
          <img class="car-tag slideRight" src="assets/img/red-car.png" />
        </div>
      </div>
    </ion-item>
  </ion-list>
  </div>
</ion-content>
