<ion-header>
  <ion-navbar color="primary">
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce>
  <div class="container">
    <div *ngIf="roundDataList">
      <ion-row *ngFor="let round of roundDataList">
        <ion-col col-8>
          <div class="round stretchRight delay-2">  
            Round: {{ round?.lockoutRound }}
          </div>
          <div class="location stretchRight delay-3">
            {{ round?.lockoutTrack }},  {{ round?.lockoutCountry }}
          </div>
          <div class="track">
            <img [src]="round?.trackImage" class="track-image" (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" />
            <ion-spinner name="crescent" [ngClass]="{'center-spinner ':true}" *ngIf="!loaded"></ion-spinner>
          </div>
        </ion-col>

        <ion-col col-4 margin-top class="tall-col">
          <div class="stat slideExpandUp delay-3">
            <span>Track length</span> {{ round.trackLength }}
          </div>
          <div class="stat slideExpandUp delay-4">
            <span>Laps</span> {{ round.laps }}
          </div>
          <div class="stat slideExpandUp delay-5">
            <span>Lap record</span> {{ round.lapTime }}
          </div>
          <div class="stat slideExpandUp delay-6">
            <span>Last winner</span> {{ round.raceWinner }}
          </div>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="this.round > 1">
      <ion-row class="header-marg">
        <div class="text-center relative-pos">
          Last Race Results
        </div>
      </ion-row>
      <div padding>
        <ion-segment mode="md" [(ngModel)]="raceData" class="seg-header">
          <ion-segment-button value="drivers">
            Drivers
          </ion-segment-button>
          <ion-segment-button value="chassis">
            Chassis
          </ion-segment-button>
          <ion-segment-button value="pu">
            Power Units
          </ion-segment-button>
        </ion-segment>
      </div>

      <div [ngSwitch]="raceData">
        <ion-list *ngSwitchCase="'drivers'">
          <ion-item class="relative-pos min-list-height expandUp" *ngFor="let driver of driversList">
            <ion-row>
              <ion-col col-2>
                <div class="driver-position">{{ driver.position }}</div>
              </ion-col>
              <ion-col col-2>
                <ion-thumbnail item-left>
                  <img class="list-image" [src]="driver.driverImage" (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" />
                  <ion-spinner name="crescent" [ngClass]="{'center-spinner ':true}" *ngIf="!loaded"></ion-spinner>
                </ion-thumbnail>
              </ion-col>
              <ion-col>
                <h2 class="list-name">{{ driver.firstName }} {{ driver.lastName }}</h2>
              </ion-col>
              <ion-col>
                 <div class="driver-points">{{ driver.driverPoints }}</div>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'chassis'">
          <ion-item class="relative-pos chassis-list-height expandUp" *ngFor="let chassis of chassisList">
            <ion-row>
              <ion-col col-2>
                <div class="driver-position">{{ chassis.position }}</div>
              </ion-col>
              <ion-col col-3>
                <ion-thumbnail >
                  <img class="chassis-img" [src]="chassis.chassisImage" (load)="loaded1 = true" [ngClass]="{'img-loaded':loaded1}" [hidden]="!loaded1" />
                  <ion-spinner name="crescent" [ngClass]="{'center-spinner ':true}" *ngIf="!loaded1"></ion-spinner>
                </ion-thumbnail>
              </ion-col>
              <ion-col>
                <h2 class="list-name">{{ chassis.chassisName }}</h2>
              </ion-col>
              <ion-col>
                 <div class="driver-points">{{ chassis.chassisPoints }}</div>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'pu'">
          <ion-item class="relative-pos chassis-list-height expandUp" *ngFor="let pu of puList">
            <ion-row>
              <ion-col col-2>
                <div class="driver-position">{{ pu.position }}</div>
              </ion-col>
              <ion-col col-3>
                <ion-thumbnail>
                  <img class="pu-img" [src]="pu.puImage" (load)="loaded2 = true" [ngClass]="{'img-loaded':loaded2}" [hidden]="!loaded2" />
                  <ion-spinner name="crescent" [ngClass]="{'center-spinner ':true}" *ngIf="!loaded2"></ion-spinner>
                </ion-thumbnail>
              </ion-col>
              <ion-col>
                <h2 class="list-name">{{ pu.puName }}</h2>
              </ion-col>
              <ion-col>
                 <div class="driver-points">{{ pu.puPoints }}</div>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>
