page-ranking {
	.container {
		padding-top: 8px;
	}

	ion-list.list {
		margin: 0 8px;
	}
	
	.searchbar-ios {
		background: none;
	}

	.list ion-item.item.item-block {
		border-radius: 2px;
		margin-bottom: 4px;
	}

	.list .item-block .item-inner {
		border-bottom:0;
	}

	.header-text {
		margin: 8px auto;
		border-bottom: 0;
	}
	
	.header-marg {
		margin-top: 8px;
	}

	.padding {
		margin: 16px;
	}
	
	.btn-holder {
		margin: 0 auto;
		display: block;
		width: 100%;

		display: flex;
  
  flex-flow: row wrap;
 
  justify-content: center;
	}

	.rank-btn {
		background-color: #000;
		border-bottom: 3px solid #d31411;
		height: 60px;
		font-size: 16px;
		letter-spacing: 1px;
		font-weight: bold;
		
		line-height: 20px;
		white-space: normal; 
		text-transform: none;
		width: 100%;
	}
	
	.btn-row {
    margin: 20px 0 4px 6px;
    width: 254px;
	}

	.btn-col {
		padding-left: 10px;
	}
	.row-btn {
		height: 90px;
		width: 120px;
	}

	.inline-elem {
		display: inline;
	}

	.right-col {
		text-align: right;
	}

	.rel-position {
		position: relative;
	}

	.stat {
		text-align: center;
		color: #fff;
		font-family:'ubuntu-regular', helvetica, sans-serif;
		font-size: 14px;
    margin-bottom: 16px;
	}

	.stat span {
		display: block;
		font-family:'ubuntu-bold', helvetica, sans-serif;
		font-size: 18px;
    margin-top: 4px;
	}
	
	.highlight-item {
		background-color: #d31411 !important;
		.team-name,
		.team-cash,
		.team-trades,
		.team-points,
		.team-rank,
		.points-text,
		.number-points {
			color: #fff;
		}
	}
}

@media only screen and (max-width: 330px) {
  page-ranking {
  	.rank-btn {
  		width: calc(100% - 32px);
  	}
    .left-btn {
			margin-right: 16px;
		}
		.right-btn {
			margin-left: 16px;
		} 
  }
}
