<ion-header>
  <ion-navbar color="primary">
    <ion-title class="text-center" *ngIf="chassisInfo">{{ chassisInfo.chassisName }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class="container">
		<div *ngIf="chassisInfo">
		  <ion-row>
	      <ion-col width-25>
	        <div class="horizontal-pad">
			      <img class="chassis-image" [src]="chassisInfo.chassisImage" />
	        </div>
	      </ion-col>
	      <ion-col width-50>
	  		  <div class="chassis-value"> 
	          {{ chassisInfo.chassisValue | currency:'USD':true:'1.0'}}
	        </div>
	  		  <div class="chassis-change">
	          Last value change
	          <span>{{ chassisValueChange | currency:'USD':true:'1.0'}}</span>
	        </div>
	      </ion-col>
	      <ion-col width-25>
	        <div class="chassis-points">
	          Average points
	          <span>{{ averagePoints }}</span>
	        </div>
	      </ion-col>
	    </ion-row>
		</div>

		<div class="chart-card">
		  <ion-row>
		    <div class="header-text slideExpandUp delay-3">Points per round</div>
		  </ion-row>
			<ion-card>
		    <ion-card-content>
		      <canvas #lineCanvasPoints></canvas>
		    </ion-card-content>
		  </ion-card>
		  <ion-row>
		    <div class="header-text slideExpandUp delay-5">Value per round</div>
		  </ion-row>
		  <ion-card>
		    <ion-card-content>
		      <canvas #lineCanvasValue></canvas>
		    </ion-card-content>
		  </ion-card>
		</div>
	</div>
</ion-content>
